

.visitasrecentes {
    background: var(--cor-degrade);
    text-align: center;
    padding: 1em;
}

.visitas__titulo {
    color: var(--cor-fundo-header);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 1em;
}

.visitas__lista {
    display: flex;
    flex-wrap: wrap; /*quebrar linha*/
    justify-content: center;
}

.visitas__item {    
    margin: 2em 0.5em;
}

.visitas__link {    
    color: var(--cor-fundo-header);
    background-color: var(--cor-menu-titulo);
    padding: 1em 0.66em 1em 0.66em;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .visitas__titulo {
        font-size: 24px;
    }

    .visitas__link {
        font-size: 24px;
    }
}  

    
@media screen and (min-width: 1728px) {

    .visitasrecentes {
        padding: 3em 30vw;
    }
}
